.container {
  display: flex;
  flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
  

  .circle {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    background-color: white;
    margin: 5%;
    width: 23rem;
    height: 23rem;
    border-radius: 50%;
    transition: 1s ease;

    .text {
      padding: 10px;
      margin: 0 auto;
      width: 5rem;
      text-align: center;
    }
    .mail {
      text-align: center;
      margin: 0 auto;
      width: 800px;
    }
  }


  .circle:hover {
    scale: 1.2;
    // box-shadow: 8px 8px 100px 80px rgba(255, 255, 255, 0.75);
  }
}
@media (min-width: 600px) {
  .container {
    .logo {
      visibility: visible;
    }
    .circle {
      width: 35rem;
      height: 35rem;
    }
  }
}
