.body {
    background-color: black;
    background-image: url("https://images.unsplash.com/photo-1708917880580-a6bea5c232a1?q=80&w=2670&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    padding: 2rem;
    margin: 5rem;
    max-height: 100rem;
  }
