.logo {
    position: fixed;
    top: 1rem;
    left: 1rem;
    color: black;
    padding: 1% 2%;
    visibility: hidden;
    align-self:flex-start;
    -webkit-animation: spin 4s linear infinite;
    -moz-animation: spin 4s linear infinite;
    animation: spin 14s linear infinite;
     animation-range: entry 50% cover 50%;
     z-index: 2000;
}

.small {
  scale: .7;
}


@-moz-keyframes spin {
    100% {
      -moz-transform: rotate(360deg);
    }
  }
  @-webkit-keyframes spin {
    100% {
      -webkit-transform: rotate(360deg);
    }
  }
  @keyframes spin {
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  @keyframes shrink {
    0%{
      scale: 1;
    }
    50%{
      scale: .4;
    }
  } 

@media (min-width: 600px) {
    .logo {
        visibility: visible;
    }
  }