body {
  background-color: black;
  padding: 0;
  box-sizing: content-box;
}

::-webkit-scrollbar {
  height: 5px;
  width: 5px;
  background: #fff3;
  -webkit-border-radius: 1ex;
}

::-webkit-scrollbar-thumb {
  background: var(--accent);
  -webkit-border-radius: 1ex;
}

::-webkit-scrollbar-corner {
  background: #fff3;
}

h1
 {
  font-family: sofia-pro, sans-serif;
  font-weight: 600;
  font-style: normal;
}

/* h2 {
  font-size: 5rem;
  font-weight: 900;
  margin: -19px;
  text-transform: uppercase;
  color: white;
} */




