.front {
  position: relative;
  // height: 100px;
  margin: 0;
  box-sizing: border-box;
}

.header {
  position: fixed;
  display: flex;
  align-items: center;
  left: 10%;
  top: 50px;
  z-index: 99;
  margin-right: 4%;

  .menu {
      position: relative;
      width: 280px;
      height: 650px;
      background-color: rgb(183, 158, 201);
      border-radius: 25px;
  }
  .logo {
      position: absolute;
      padding: 10px;
      border: 3px solid orange;
      margin: 0 auto;
      align-self:flex-start;
  }
  @media (min-width: 600px) {
    .menu {
        visibility:visible;
        right: 0px;
    }
    .front{
      right: 1049px;
    }
  }
  
}

