.register {
    grid-column: full-start / full-end;

    &__form {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 2rem;
        align-items: center;
        justify-items: center;

        
    }

}