.wrapper {
  display: flex;
  list-style: none;
  height: 600px;
  overflow-x: auto;
  overscroll-behavior-inline: contain;
  padding: 50px 0;
  flex: 0 0 600px;
  margin: 1px 0;
  z-index: 0;
  background-color: rgba(255, 255, 255, 0.861);
}

.wrapper::-webkit-scrollbar {
  height: 8px;
}

.wrapper::-webkit-scrollbar-thumb {
  background-color: gray;
  border-radius: 10px;
}

.wrapper::-webkit-scrollbar-track {
  background-color: rgba(255, 255, 255, 0.714);
  border-radius: 10px;
}

.li {
  flex: 0 0 200px;
  cursor: crosshair;
  opacity: 1;
  filter: contrast(120%);
  margin: 0 20px 0 0;
  position: relative;
  animation: swipe 5000ms linear infinite;
}

.li:last-of-type {
  margin: 0 0;
}

.img {
  height: 100%;
}

.p {
  position: absolute;
  height: auto;
  bottom: 0px;
  visibility: hidden;
  background-color: rgba(226, 209, 255, 0.682);
  text-align: center;
  border-radius: 20px;
  margin: 1rem;
  padding: 1rem;
}

.li:hover p {
  visibility: visible;
  opacity: 1;
  height: fit-content;
}


@media (max-width: 600px) {
  .wrapper {
    position: absolute;
    width: 100%;
    max-height: 70vh;
    margin-top: 4%;
    padding: 2%;
  }
}