.containerGallery {
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  margin: 5em auto;
  width: 100%;
}
.imageGallery {
  margin: 2rem;
}
@media (max-width: 600px) {
  .containerGallery {
    max-width: 100%;
  }
  .imageGallery {
    margin: 10px;
    width: 100%;
    height: 100%;
  }
}

.titleGallery {
  color: white;
  font-size: 36px;
  margin: 0px 20px;
  text-transform: uppercase;
  font-weight: 800;
  text-align: center;
}
